.container {
  position: absolute;
  top: 30%;
  left: 27%;
}

.projects {
  width: 400px;
  padding-bottom: 35px;
  border-bottom: #000 1px solid;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.projects button {
  background: none;
  font-size: 18px;
  border: 0;
  color: #5f5c5c;
  cursor: pointer;
}

.projects h1 {
  font-size: 30px;
}

.projects .date {
  color: #b8b7b7;
  margin: 5px;
}

.projects .description {
  margin-top: 20px;
  font-size: 25px;
  color: #5f5c5c;
}
